:root {
  --primary-color: #3b3b3b;
  --default-font-family: "Poppins", sans-serif;
}
body {
  background-image: url("../public/images/ffflux.svg");

  background-size: cover;
  background-color: red;
  margin-bottom: 60px;
  font-family: var(--default-font-family);
}
header {
  background-color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 0px 50px 50px;
  box-shadow: 2px 2px 15px grey;
}
footer {
  background-color: white;
  box-shadow: 2px 2px 15px grey;
  border-radius: 50px 50px 0px 0px;
  height: 50px;
  padding: 10px;
}

.word--form,
section {
  padding: 30px 30px 5px 50px;
  margin: 0 auto;
  /* border: 2px solid var(--primary-color); */
  background-color: #ffffff;
  box-shadow: 2px 2px 15px grey;
  border-radius: 0px 50px;
  margin-top: 20px;
  line-height: 2;
  max-width: 800px;
}
.phonetic {
  margin-bottom: 0px;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
}
.photos img {
  object-fit: cover;
  max-width: 200px;
  margin: 20px;
}

.volume {
  font-size: large;
  margin-right: 10px;
}
.definition--word {
  font-weight: bold;
  color: blueviolet;
}
.example {
  font-style: italic;
}
.example--quote {
  color: rgb(98, 95, 95);
}
.icons {
  color: blueviolet;
}
.attribution {
  color: blueviolet;
}
